<div ng-if="!$ctrl.haveTheName">
  <div class="welcome">
    <h1>Write your name to start to chat</h1>
    <div class="form">
      <div class="form_info">
        <form class="simple-form">
          <section>
            <label for="name">Name</label>
            <input type="text" ng-model="user.name" id="name" name="name" required/>
          </section>
          <section>
            <div class="button" ng-click="$ctrl.chooseName(user.name)">Send</div>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>
<div ng-if="$ctrl.haveTheName">
  <div class="form">
    <div class="form_info">
      <h1>Please write a comment</h1>
      <form class="simple-form">
        <section>
          <label for="message">Write message</label>
          <textarea ng-model="$ctrl.message" id="message" name="message" required></textarea>
        </section>
        <section>
          <div class="button" ng-click="$ctrl.sendMessage()">Send</div>
        </section>
      </form>
    </div>
  </div>
</div>
